*, *:after, *:before {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    
    font-size: 2.5vh;
}

/* HEADER */

.header{
    position: fixed;
    background: #1d002a;
    width: 100%;
    height: 7vh;
    padding-bottom: 0.5vh;
    
    z-index: 1;
}

.header_container{
    margin: 0 auto;
    width: 70%;
    height: inherit;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo{
    position: absolute;
    font-weight: 800;
    left: 0;
}

.header_btn{
    padding: 2vh 4vh;
    text-decoration: none;
    position: relative;
}

.header_btn:after{
    content: '';
    display: block;
    
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    opacity: 0.2;
    
    transition: bottom .3s ease;
}

.header_btn:hover:after{
    bottom: 0%;
}


/* INTRO */


.intro{
    background: #050007;
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_text{
    text-align: center;
    font-size: 6vh;
    font-weight: 100;
    padding: 10vh;
}


/* PROJECTS */


.projects{
    width: 100%;
    height: 100%;
    background: #160022;
    
}

.proj_title{
    text-align: center;
    padding: 8vh;
    
    font-size: 6vh;
    font-weight: 100;
}

.proj_grid{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    
    grid-template-columns: repeat(auto-fit, minmax(56vh, 1fr));
    grid-gap: 3vh;
    align-items: center;
    
    overflow: hidden;
}

.proj_item{
    flex-basis: 50vh;
    
    border-radius: 0.3vh;
    background: #2f0048;
    text-align: center;
    position: relative;
    
    transition: transform .2s ease;
}

.proj_item:hover{
    transform: scale(1.01);
}

.latestproj{
    flex-basis: 100vh;
    
    background: #4a005c;
    grid-column: 1 / 3;
}

.proj_item_title{
    padding: 1vh;
    font-size: 5vh;
    font-weight: 600;
}

.proj_item_title .name{
    padding-top: 0;
    font-size: 2.5vh;
    font-weight: 300;
}

.proj_item_date{
    font-weight: 100;
    font-style: italic;
    font-size: 2vh;
    transform: translateY(-1.5vh);
}

.proj_item_bgr{
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.proj_item_bgr:after{
    content: '';
    background-image: url(assets/img/lnk.svg);
    background-size: cover;
    display: block;
}


/* ADAPTIVE */

@media (max-width: 800px){
    .header_container{
        width: inherit;
        justify-content: center;
    }
    
    .header_btn{
        padding: 2vh 0;
        text-align: center;
        flex-grow: 1;
    }
    
    .logo{
        display: none;
    }
    
    .proj_title{
        font-size: 5vh;
    }
    
    .proj_grid{
        grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
    }
    
    .proj_item{
        flex-basis: 40vh;
    }
    
    .latestproj{
        flex-basis: 83vh;
    }
    
    .proj_item_bgr{
        height: 30vh;
    }
    
    .proj_item_title{
        font-size: 2.5vh;
    }

    .proj_item_title .name{
        font-size: 1.5vh;
    }

    .proj_item_date{
        font-size: 1.5vh;
    }
}

@media (max-width: 645px) {
    .proj_item{
        flex-basis: 35vh;
    }
    
    .latestproj{
        flex-basis: 73vh;
    }
}

@media (max-width: 575px){
    .header_btn{
        font-size: 2vh;
    }
    
    .intro_text{
        font-size: 4.3vh;
    }
    
    .proj_grid{
        
        grid-template-columns: 1fr;
    }
    
    .proj_grid > div:nth-child(even){
        background: #3e0055;
    }
    
    .proj_item{
        flex-basis: 40vh;
        margin-bottom: 2vh;
    }
    
    .latestproj{
        flex-basis: 53vh;
        grid-column: 1 / 2;
    }
    
    .proj_item_bgr{
        height: 40vh;
    }
    
    .proj_item_title{
        padding-top: 2.1vh;
    }
}